div{
    background-color: aquamarine;
    border: 10px 20px 30px 40px solid purple;
    padding: 10px;
    margin: 10px;

    
}
ol{
    color: aqua;
    background-color: chocolate;
    padding: 10px 20px 30px 40px;
    border: 5px dotted blue;
    text-align: center;
    text-decoration: underline red;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
h2{
    color: aquamarine
    ;
}
